{{define "crazy"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>oH My GoD!!!!11!!1!</title>
  </head>

  <body style="background-color:magenta;">
      {{template "yield" .}}
  </body>

</html>
{{end}}
